.about {
    width: 85%;
    height: 80%;
    margin: 0 auto;
    text-align: center;
    color: white;
    background-color: #242424;
    opacity: .9;
    padding: 25px;
}

.about img {
    width: 300px;
    height: 300px;
    border-radius: 100%;
}