.footer {
    width: 75%;
    border: solid 2px white;
    margin: 0 auto;
}

.footer,
.footer h4 {
    color: white;
    text-align: center;
    font-size: .9rem;
}

.social-icons {
display: flex;
width: 20%;
margin: 0 auto;
justify-content: space-around;
/* border: solid white 2px; */
}