.footer {
    color: white;
    text-align: center;
    font-size: .9rem;
    margin-left: 15%;
    margin-bottom: 3%;
    margin-top: 2%;

    & h4 {
        font-size: .9rem;
    }
}

.social-icons {
display: flex;
width: 20%;
margin: 0 auto;
justify-content: space-around;
/* border: solid white 2px; */
}