.footer,
.footer h4 {
    color: white;
    text-align: center;
    font-size: .9rem;
    margin: 0 auto;
    margin-top: 200px;
}

.social-icons {
display: flex;
width: 20%;
margin: 0 auto;
justify-content: space-around;
/* border: solid white 2px; */
}