header {
    flex-basis: 100%;
    flex-wrap: wrap;
    text-align: center;
    font-weight: bold;
    font-size: 1.75rem;
    color: black;
    border-radius: .5em;
    background-image: url('/assets/headerbkgd.jpg');
    background-size: cover;
    padding: 20px;
  }
  
  .nav ul {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    /* border: solid black 2px; */
    font-size: 1.5rem;
  }
  
  .nav ul a {
    margin: 0 auto;
    color: black;
    font-weight: bold;
    text-decoration: none;
  
    &:hover {
      color: white;
      translate: -10px;
    }
  }