#root {
  margin: 0 auto;
  padding: .5rem;
  text-align: center;
  flex-basis: 100%;

  background-image: url('/assets/unsplash.jpg');
  background-size: cover;
}

.title {
  color: white;
}

main {
  min-height: 100vh;
}

.content-section {
  width: 100%;
  min-height: 90vh;
}