:root {
  --color1: #4cc9f0;
  --color2: #4895ef;
  --color3: #4361ee;
  --color4: #3f37c9;
  --color5: #3a0ca3;
  --color6: #480ca8;
  --color7: #560bad;
  --color8: #7209b7;
  --color9: #b5179e;
  --color0: #f72585;
}

#root {
  margin: 0 auto;
  padding: .5rem;
  text-align: center;
  flex-basis: 100%;
  font-family: 'Lora', serif;
    /* font-family: 'Merriweather', serif; */
  background-color: #242424;
}

hr {
  color: white;
  font-weight: bold;
}

h1, h2 {
  margin: 20px;
  font-weight: bold;

}

body {
  flex-basis: 100%;
  margin: 0;
}

header {
  flex-basis: 100%;
  flex-wrap: wrap;
  text-align: center;
  font-weight: bold;
  font-size: 1.75rem;
  color: black;
  border-radius: .5em;
  background-image: url('/assets/headerbkgd.jpg');
  background-size: cover;
  padding: 20px;
}

.nav ul {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  /* border: solid black 2px; */
  font-size: 1.5rem;
}

.nav ul a {
  margin: 0 auto;
  color: black;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    color: white;
    translate: -10px;
  }
}

.title {
  color: white;
}

main {
  height: 85vh;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */