:root {
 --color1: #4cc9f0;
  --color2: #4895ef;
  --color3: #4361ee;
  --color4: #3f37c9;
  --color5: #3a0ca3;
  --color6: #480ca8;
  --color7: #560bad;
  --color8: #7209b7;
  --color9: #b5179e;
  --color0: #f72585;

  font-family: 'Lora', serif;
}

.main {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
}

hr {
  color: white;
  font-weight: bold;
}

h1, h2 {
  margin: 20px;
  font-weight: bold;
  
}

body {
  flex-basis: 100%;
  margin: 0;
}
